@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables";

html {
    position: relative;
    height: 100vh;
}

body {
    background-color: $bg-color-primary;
    font-family: "Nunito";
    margin: 0;
}

main {
    display: flex;
    position: relative;
    min-height: 90vh;
    height: 100vh;
    overflow: hidden;
}

.splash {
    display: flex;
    align-items: center;
    height: 100vh;
    left: 0px;
    transition: all 1s;
    position: absolute;
    width: 100%;
}

.onbording-one,
.onbording-two {
    right: -3000px;
    transition: all 1s;
}

.splash-container-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        zoom: 1;
    }

    5% {
        zoom: 2;
    }

    15% {
        zoom: 3;
    }

    20% {
        zoom: 4;
    }
}

/* onbording */
.onbording-one,
.onbording-two,
.category,
.card-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    right: -3000px;
    overflow: scroll;
}


.onbording-container {
    width: 327px;
    height: 489px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Botones */
.custom-btn {
    border: none;
    width: 150px;
    height: 48px;
    margin: 5px;
}

.btn-category {
    background-color: $bg-color-black;
    color: $bg-color-white;
    border-radius: 5px;
    width: 150px;
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    float: left;

}

.btn-next-onbording {
    border-radius: 25px;
    background-color: $bg-color-black;
    color: $bg-color-white;
    width: 327px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
}

/* text */
h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
}


.info-onbording {
    text-align: center;
}

/* Categories */
.category-perro img {
    padding: 2px;
    border-radius: 50%;
    background-color: $bg-color-green;
    width: 64px;
    margin: 5px;
}

.mascota,
.mascota-card,
.mascota-info,
.mascota-card img {
    border-radius: 25px;
    width: 156px;
    height: 250px;
}

.mascota {
    flex-direction: row;
    display: flex;
    position: relative;
    margin: 5px;

}

.mascota-card {
    position: absolute;
}

.mascota-info {
    width: 100%;
    position: absolute;
    color: $bg-color-white;
    background: linear-gradient(360deg, black, transparent);
    display: flex;
    align-items: end;
}

.mascota-name,
.mascota-raza {
    padding-left: 16px;
}


.mascotas-button {
    display: flex;
    justify-content: center;

}

.mascotas-category {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50%;
}

.mascotas-title {
    padding-top: 48px;
    width: 300px;
}

.pt-24 {
    padding-top: 24px;
}

.mascotas-menu {
    background: $bg-color-white;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    margin: 0;
    min-height: 10vh;
    align-items: center;

}

.btn-radius {
    border-radius: 25px;
    background: $bg-color-white;
}

.active {
    background-color: $bg-color-black;
    color: $bg-color-green;
    display: flex;
    align-items: center;
    padding: 10px;
}

.inactive {
    display: none;
}

.mascotas-icon {
    margin: 5px;
}

.custom-btn .active {
    background-color: $bg-color-black;
    color: $bg-color-green;
}

#home-text {
    padding: 0;
    margin-left: 10px;
}

.hidden {
    display: none;
}


.hidden-left {
    left: -3000px;
    display: none;
}

.show-right {
    right: 0px;
    display: flex;
}

/* Card de Detalle*/

.icon-sex {
    width: 32px;
    height: 32px;
}

.icon {
    width: 24px;
    height: 24px;
}

.card-image-container-details {
    height: 422px;
}

.img-card-details {
    width: 375px;
    height: 442px;
}

.container-body-details {
    border-radius: 16px 16px 0px 0px;
    background: white;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.title-card-details {
    font-size: 24px;
}

.favoritos-add {
    width: 48px;
    height: 48px;
}

.favoritos-add img {
    width: 48px;
    height: 48px;

}

.container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 48px;
}

.name-and-sex {
    display: flex;
    align-items: center;
}

.name-and-sex h1 {
    margin: 0;
}

.name-and-sex img {
    margin-left: 5px;
    width: 32px;
}

.raza-edad {
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px;
}

.raza,
.edad {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    width: 148px;
    height: 24px;
    align-items: center;
}

.raza img,
.edad img {
    margin-right: 8px;
}

.item-personality {
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    width: 92px;
    height: 92px;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item-personality-hijo {
    margin-top: 13px;
}

.item-personality p {
    margin: 0;
}

.published-user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #85D1CE;
}


.location {
    width: 327px;
    height: 38px;
    display: flex;
    align-items: center;
}

.location p {
    width: 295px;
}

.location img {
    margin-right: 8px;
}

.personality {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.published {
    display: flex;
    align-items: center;
}

.published-name {
    margin-left: 7px;
    width: 92px;
    height: 34px;
}

.published-name h4 {
    color: gray;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.published-name h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
}

.published-name h3,
.published-name h4 {
    margin: 0;
}

.published-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}


.btn-radius {
    border-radius: 25px;

}

.custom-btn-dark {
    background: #0E172C;
    color: white;
}

.back {
    position: absolute;
    margin-left: 24px;
    margin-top: 24px;
}

.tabcontent {
    display: none;
}

.show {
    display: flex;
}

.favorites,
.message {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


.container-message {
    background: white;
    border-radius: 8px;
    width: 327px;
    height: 97px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.perfil-message {
    width: 64px;
    height: 64px;
    padding-left: 4px;
    padding-right: 4px;
}

.perfil-message img {
    border-radius: 50%;
    border: 3px solid $bg-color-green;
    width: 64px;
    height: 64px;


}

.message-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.message-title h3,
.message-title p {
    margin: 0;
}

.message-title h3 {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.message-title p {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.message-text {
    margin: 0;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.1px;
    width: 207px;
    height: 57px;
}

.message-text p {
    margin: 0;


}

.message-icon {
    width: 32px;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: center;
    display: flex;

}

.bandeja {
    margin-right: 8px;
    width: 207px;
    height: 81px;
}

.perfil {
    margin: 0 auto;
}

.container-form {
    padding-top: 24px;
    width: 327px;
    height: 332px;
}

.name-img-perfil {
    text-align: center;
}

.name-img-perfil img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.name-img-perfil p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    text-align: center;

}

.name-img-perfil button {
    border: none;
    background: none;
    font-size: 14px;
    margin-top: 8px;
}

.container-form input {
    border-radius: 5px;
    margin-top: 4px;
    width: 327px;
    height: 42px;
    border: 2px solid gray;
}

.container-form label {
    padding: 0px 0px 0px 16px;
    width: 74px;
    height: 24px;
}

.item-form {
    width: 327px;
    margin-bottom: 16px;
    height: 76px;
}

.btn-form {
    width: 327px;
    height: 48px;
    margin-top: 16px;
    border: none;

}