$bg-color-primary: #FEC7D7;
$bg-color-white: #FFFFFE;
$bg-color-black: #0E172C;
$bg-color-secondary: #A786DF;
$bg-color-tertiary: #D9D4E7;
$bg-color-green: #85D1CE;
$bg-color-blue: #91C1D7;
$bg-color-gray: #535353;